.card {
  border: 1px solid white;
  border-radius: 30px;
  padding: 16px;
  box-shadow: 3px 3px white;
  text-align: center;
}

.card > h2 {
  font-size: 32px;
  border-left: 4px solid white;
  cursor: pointer;
}

.card > img {
  border-radius: 15px;
}
